.card{
  border: 1px solid hs1(0,0%,80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img{
  width: 250px;   /* chiều rộng */
  height: auto;  /* chiều cao */
  max-width: 80%;
  border-radius: 10%;
  margin-bottom: 5px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 1%, 29%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 1%, 29%);
}

.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 2px solid hsla(0, 7%, 15%, 0.8);
}

.student p{
  margin: 0;

}

body{
  font-family: Arial, sans-serif;

}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
  font-size: 3rem;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0,0, 80%);
  border-radius: 25px;
  margin-bottom: 25 px;
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0,0, 20%);
  font-size: 1.5rem;
  text-align: center;
}
label{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0,0,80%);
}